# 1) Importing Libraries and DataFrame

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os
from datetime import datetime

In [2]:
# Importing bikes_2023-2024.csv

path = r'/Users/matthewabrams'
nyc_bikes_2023= pd.read_csv(os.path.join(path, 'Desktop', 'bikes_2023-2024.csv'), index_col = False)
nyc_bikes_2023.drop(columns = ['Unnamed: 0'], inplace = True)
nyc_bikes_2023

,rideable_type,member_casual,started_at_date,started_at_year,started_at_month_name,started_at_day_name,started_at_hour,time_spent_with_bike_in_minutes,end_station_name,end_lat,end_lng
0,classic_bike,member,2023-01-26,2023,January,Thursday,10,11.55,Columbus Ave & W 72 St,40.777057,-73.978985
1,classic_bike,casual,2023-01-04,2023,January,Wednesday,11,15.25,Clinton Ave & Myrtle Ave,40.693261,-73.968896
2,classic_bike,casual,2023-01-04,2023,January,Wednesday,17,16.68,W 52 St & 11 Ave,40.767272,-73.993929
3,classic_bike,member,2023-01-04,2023,January,Wednesday,8,11.02,W 45 St & 8 Ave,40.759291,-73.988597
4,electric_bike,casual,2023-01-03,2023,January,Tuesday,22,15.02,Central Park S & 6 Ave,40.765909,-73.976342
...,...,...,...,...,...,...,...,...,...,...,...
35951465,electric_bike,member,2023-12-17,2023,December,Sunday,12,3.75,Amsterdam Ave & W 82 St,40.785247,-73.976673
35951466,electric_bike,member,2023-12-15,2023,December,Friday,12,13.68,Myrtle Ave & Marcy Ave,40.695398,-73.949549
35951467,classic_bike,member,2023-12-12,2023,December,Tuesday,17,6.47,Lincoln Rd & Ocean Ave,40.660500,-73.962600
35951468,electric_bike,member,2023-12-26,2023,December,Tuesday,19,4.50,Centre St & Chambers St,40.712733,-74.004607
35951469,classic_bike,member,2023-12-09,2023,December,Saturday,16,4.62,Willis Ave & Bruckner Blvd,40.805701,-73.925177

In [3]:
# Importing bikes_2022-2023.csv

nyc_bikes_2022= pd.read_csv(os.path.join(path, 'Desktop', 'bikes_2022-2023.csv'), index_col = False)
nyc_bikes_2022.drop(columns = ['Unnamed: 0'], inplace = True)
nyc_bikes_2022

,rideable_type,member_casual,started_at_date,started_at_year,started_at_month_name,started_at_day_name,started_at_hour,time_spent_with_bike_in_minutes,end_station_name,end_lat,end_lng
0,classic_bike,member,2022-01-18,2022,January,Tuesday,8,4.43,Clinton St & Joralemon St,40.692395,-73.993379
1,classic_bike,member,2022-01-21,2022,January,Friday,9,2.37,E 10 St & Avenue A,40.727408,-73.981420
2,classic_bike,member,2022-01-22,2022,January,Saturday,14,24.77,W 44 St & 11 Ave,40.762009,-73.996975
3,electric_bike,member,2022-01-19,2022,January,Wednesday,14,4.25,Crescent St & 30 Ave,40.768692,-73.924957
4,electric_bike,member,2022-01-16,2022,January,Sunday,14,8.00,Clinton St & Tillary St,40.696233,-73.991421
...,...,...,...,...,...,...,...,...,...,...,...
30437997,electric_bike,member,2022-12-01,2022,December,Thursday,20,4.00,Stanton St & Chrystie St,40.722293,-73.991475
30437998,classic_bike,member,2022-12-26,2022,December,Monday,13,6.15,39 Ave & 45 St,40.749478,-73.918265
30437999,classic_bike,member,2022-12-01,2022,December,Thursday,5,9.92,Bleecker St & Crosby St,40.726156,-73.995102
30438000,classic_bike,member,2022-12-02,2022,December,Friday,11,6.73,Sands St & Jay St,40.700119,-73.986200
30438001,classic_bike,member,2022-12-18,2022,December,Sunday,13,2.07,Cadman Plaza E & Tillary St,40.695977,-73.990149

In [4]:
# Combining all dataframes for nyc using concat method (historical data in 2023)

frames = [nyc_bikes_2023, nyc_bikes_2022]

nyc_bikes= pd.concat(frames, axis = 0)
nyc_bikes

,rideable_type,member_casual,started_at_date,started_at_year,started_at_month_name,started_at_day_name,started_at_hour,time_spent_with_bike_in_minutes,end_station_name,end_lat,end_lng
0,classic_bike,member,2023-01-26,2023,January,Thursday,10,11.55,Columbus Ave & W 72 St,40.777057,-73.978985
1,classic_bike,casual,2023-01-04,2023,January,Wednesday,11,15.25,Clinton Ave & Myrtle Ave,40.693261,-73.968896
2,classic_bike,casual,2023-01-04,2023,January,Wednesday,17,16.68,W 52 St & 11 Ave,40.767272,-73.993929
3,classic_bike,member,2023-01-04,2023,January,Wednesday,8,11.02,W 45 St & 8 Ave,40.759291,-73.988597
4,electric_bike,casual,2023-01-03,2023,January,Tuesday,22,15.02,Central Park S & 6 Ave,40.765909,-73.976342
...,...,...,...,...,...,...,...,...,...,...,...
30437997,electric_bike,member,2022-12-01,2022,December,Thursday,20,4.00,Stanton St & Chrystie St,40.722293,-73.991475
30437998,classic_bike,member,2022-12-26,2022,December,Monday,13,6.15,39 Ave & 45 St,40.749478,-73.918265
30437999,classic_bike,member,2022-12-01,2022,December,Thursday,5,9.92,Bleecker St & Crosby St,40.726156,-73.995102
30438000,classic_bike,member,2022-12-02,2022,December,Friday,11,6.73,Sands St & Jay St,40.700119,-73.986200
30438001,classic_bike,member,2022-12-18,2022,December,Sunday,13,2.07,Cadman Plaza E & Tillary St,40.695977,-73.990149

# 2) Aggregating Data using Pivot Tables

In [5]:
# Aggregating number of bike rides by count grouped by time and location
time = pd.pivot_table(data = nyc_bikes, values = 'time_spent_with_bike_in_minutes', index = ['started_at_year','started_at_month_name', 'started_at_day_name',  
       'started_at_hour', 'end_station_name', 'member_casual', 'end_lat', 'end_lng'], aggfunc ='count', margins = True, margins_name = 'All').astype(int)
time

                                                                                                                                                           time_spent_with_bike_in_minutes
started_at_year started_at_month_name started_at_day_name started_at_hour end_station_name             member_casual end_lat           end_lng
2022            April                 Friday              0               1 Ave & E 110 St             casual        40.7923272        -73.9383                                          1
                                                                                                       member        40.7923272        -73.9383                                          1
                                                                          1 Ave & E 16 St              casual        40.73221853       -73.98165557                                      4
                                                                                                       member        40.73221853       -73.98165557                                     12
                                                                          1 Ave & E 18 St              casual        40.73381219196632 -73.98054420948029                                6
...                                                                                                                                                                                    ...
2023            September             Wednesday           23              Wyckoff St & 3 Ave           casual        40.6827549        -73.98258555                                      2
                                                                                                       member        40.6827549        -73.98258555                                      4
                                                                          Wythe Ave & Metropolitan Ave casual        40.716887         -73.963198                                        1
                                                                                                       member        40.716887         -73.963198                                        3
All                                                                                                                                                                               66389291

[8411886 rows x 1 columns]

In [6]:
# Aggregating number of locations where bike rides are biked to by count
location = pd.pivot_table(data = nyc_bikes, values = 'time_spent_with_bike_in_minutes', 
                          index = ('end_station_name', 'end_lat', 'end_lng'), 
                          aggfunc ='count', margins = True, margins_name = 'All')
location.fillna(0,inplace = True)
location.astype(int)

                                                             time_spent_with_bike_in_minutes
end_station_name      end_lat            end_lng
1 Ave & E 110 St      40.792327          -73.9383                                         67
                      40.7923272         -73.9383                                      46722
1 Ave & E 16 St       40.73221853        -73.98165557                                 133323
                      40.732219          -73.981656                                      163
1 Ave & E 18 St       40.733812          -73.980544                                      175
...                                                                                      ...
Wythe Ave & N 13 St   40.722767          -73.957021                                    14106
Yankee Ferry Terminal 40.68706579875912  -74.01675585121666                            21399
                      40.687066          -74.016756                                     1701
York St & Marin Blvd  40.716615000830494 -74.0424120426178                                 8
All                                                                                 66389291

[3301 rows x 1 columns]

# 3) Exporting pivot tables as csvs

In [7]:
# Exporting pivot tables as csvs

time.to_csv(os.path.join(path, 'Desktop', 'bike_time.csv'))
location.to_csv(os.path.join(path, 'Desktop', 'bike_location.csv'))